@media screen and (max-width: 983px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main .cartao {
        display: inline-block;
        margin: auto;
        max-width: 300px;
        width: 100%;

    }

    main {
        margin-bottom: 10px;
    }
} 